.calculator {
  text-align: center;
  margin: 0 auto;
  
  
}


.calculator-screen {
  width: 100%;
  height: 100px;
  background-color: #ebb111;
  color: #fff;
  text-align: right;
  font-size: 36px;
  border: none;
  padding: 0 20px;
  box-sizing: border-box;
}

.calculator-keys {
  width: 100%;
}

.row {
  display: flex;
}

button {
  height: 80px;
  background-color: rgb(30, 173, 216);
  border: 1px solid rgb(229, 235, 229);
  font-size: 40px;
  color: #fff;
  width: 25%;
  outline: none;
}
button:hover {
  background-color: rgb(24, 138, 170);
}

.all-clear {
  width: 50%;
}

.operator,
.equal-sign {
  background-color: rgb(12, 209, 209);
}
.operator:hover,
.equal-sign:hover {
  background-color: rgb(7, 167, 167);
}
